$phone: 760px;

$breakpoints: (
  "xs": (
    max-width: 992px,
  ),
  "lg": (
    min-width: 992px,
  ),
) !default;

@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}

body {
  margin: 0;
}

a {
  color: #4f7d79;
  word-wrap:break-word;
}

a:visited {
  color: #343249;
}

main {
  display: grid;
  @include mq(lg) {
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "Menu Home";
  }
  @include mq(xs) {
    grid-template-columns: 100%;
    height: 100vh;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "Menu"
      "Home";
  }
}

.Menu {
  background-color: #c89da1;
}

.Home {
  height: 1fr;
  padding: 12px;
  background-color: #d6d0d0;
}

img {
  @include mq(lg) {
    width: min(100%, 800px);
  }
  @include mq(xs) {
    max-width: 100%;
  }
}

code {
  padding: 1px;
  margin: 5px;
  background: #323249;
  color: #d6d0d0;
  overflow: auto;
  font-family: "Source Code Pro", monospace;
}
