.tags {
  margin-top: 10px;
}

.tag {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-color: #343249;
  color: #d6d0d0;
  font-size: 14px;
  text-decoration: none;
}

.tag:visited {
  color: #d6d0d0;
}
