.title {
  font-size: 20px;
}

.summary {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  list-style: none;
  background-color: #c1bae0;
  border-radius: 10px;
}

.posts {
  padding-left: 10px;
}
